.footer {
  position: relative;
  padding: 64px;
  background: hsl(0deg, 0%, 5%);
  color: rgb(253, 244, 246);
  text-align: center;
}

a:link {
  text-decoration: none;
  color: orangered;
}

a:hover {
  color: mintcream;
}
